Package: com.yourcompany.hookdemo
Name: hook_demo
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: apple
Author: apple
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
